*{
    font-family: Arial, Helvetica, sans-serif;
}

.projeto{
    text-align: center;
}

.caixa{
    background-color: black;
    color: red;
    text-align: center;
    display: inline-block;
    border: 2px solid red;
    height: 150px;
    width: 150px;
    margin: 20px;
}
    
.texto{
    font-size: 20px;
    text-align: center;
}

.caixa:hover{
    background-color: blueviolet;
    color: blue;
    }

    a{
        color: rgb(0, 90, 8);
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
    }

    a:hover{
        color: red;
        text-decoration: underline;
    }

    a:visited{
        color: deeppink;
        background-attachment: fixed;
    }

    a:active{
        color: orange;
    }
