@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(to right, #0768A6, #239DFA);
}

main{
    background-color: #67c5ff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3636e2;
    text-align: center;
    text-shadow: 2px 2px 3px #0a06f7ad;
}
h2 {
    color: #0a06f7ad;
}
p {
    text-align: justify;
}
