@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; 
    /* 
    PARA DEIXAR O TEXTO EM MAIÚSCULO
    Também tem o (text-transform: uppercase;
    */
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(0, 0, 0);
    color: white;
}

section.imagem > p{
    background-color: rgb(51, 50, 50);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}