@charset "UTF-8";

div{
    background-image: linear-gradient(to left, #0000ffbd, #001aff6e);
    height: 200px;
    width:  200px;
    border-radius: 100px;
    box-shadow: -10px -10px 10px #001aff6e;
    margin: 50px;
}

div:hover{
    background-color: aqua;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
}

